<h1>Editing ping</h1>

<% form_for(@ping) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :lat %><br />
    <%= f.text_field :lat %>
  </p>
  <p>
    <%= f.label :long %><br />
    <%= f.text_field :long %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @ping %> |
<%= link_to 'Back', pings_path %>